:root {
    --color-brand-light: #59B2FF;
    --color-brand-mid: #3487CF;
    --color-brand-dark: #1D6FB6;

    --color-purple: #B259FF;
    --color-fuschia: #FF59F9;
    --color-pink: #FF598B;
    --color-orange: #FF8B59;
    --color-yellow: #FFCD59;
    --color-lima: #E1FF59;
    --color-green: #59FF91;
    --color-cyan: #59FFF9;
    --color-navy: #6A59FF;
    --color-feedback: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    -text-heading: #F9F9F9;

    --font-family-leckerli: "Leckerli One", cursive;
    --font-family-baloo: "Baloo 2", sans-serif;
    --font-family-open: "Open Sans", sans-serif;

}