:root {
    --cor-principal-red: #E3646E;
    --cor-principal-purple: #BB72E9;
    --cor-principal-blue: #3996DB;
    --cor-principal-green: #82BC4F;
    --cor-principal-yellow: #EAbd5f;

    --cor-base-gray-100: #E2E4E9;
    --cor-base-gray-200: #C0C4CE;
    --cor-base-gray-300: #878EA1;
    --cor-base-gray-400: #292C34;
    --cor-base-gray-500: #16181D;
    --cor-base-gray-600: #0D0E11;


    --font-family-asap: 'Asap', sans-serif;
    --font-family-inconsolata: 'Inconsolata', monospace;
    --font-family-maven-pro: 'Maven Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.info {
   background-image: url('/img/Background_Intro.png');
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 100vw;
}

.config-info {
    margin: 120px 163px 94px 163px;
}

.header-config {
   text-align: center;
   max-width: 680px;
   margin: 0 auto;
   width: 100%;
}

.avatar-wrapper {
    position: relative;
    width: 87.27px;
    height: 87.27px;

    margin: 0 auto;
    margin-bottom: 56px;
}

.avatar-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subtitle-header {
    font-family: var(--font-family-inconsolata);
    font-size: 20px;
    line-height: 120%;
    font-style: normal;
    color: var(--cor-base-gray-200);
}

.subtitle-header .nome {
    color: var(--cor-principal-red);
}

.title {
    font-family: var(--font-family-asap);
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;

    color: var(--cor-base-gray-100);
    
    margin-bottom: 20px;
}

.text-sm {
    font-family: var(--font-family-maven-pro);
    font-size: 16px;
    line-height: 140%;
    font-weight: normal;

    color: var(--cor-base-gray-300);

    margin-bottom: 80px;
}

.text-md {
    font-family: var(--font-family-maven-pro);
    font-size: 16px;
    line-height: 140%;
    
    
    color: var(--cor-base-gray-200);
}
.tech-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;

    margin-bottom: 60px;

}

.card-list {
    width: auto;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-base-gray-400);

    border-radius: 50px;
   
}

.card-list figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-list img {
    margin-left: 10px;
}

.card-list figcaption {
    margin-right: 16px;
}

.vector-baixo {
    display: block;
    margin: 40px auto 0 auto;
    width: auto;
    max-width: 100%;
}