:root {
    --cor-principal-red: #E3646E;
    --cor-principal-purple: #BB72E9;
    --cor-principal-blue: #3996DB;
    --cor-principal-green: #82BC4F;
    --cor-principal-yellow: #EAbd5f;

    --cor-base-gray-100: #E2E4E9;
    --cor-base-gray-200: #C0C4CE;
    --cor-base-gray-300: #878EA1;
    --cor-base-gray-400: #292C34;
    --cor-base-gray-500: #16181D;
    --cor-base-gray-600: #0D0E11;


    --font-family-asap: 'Asap', sans-serif;
    --font-family-inconsolata: 'Inconsolata', monospace;
    --font-family-maven-pro: 'Maven Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.container {
    display: grid;
    place-items: center;
}

/* CONTAINER DE INFORMAÇÕES */

.info {
   background-image: url('/img/Background_Intro.png');
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   width: 100vw;
}

.config-info {
    margin: 120px 163px 94px 163px;
}

.header-config {
   text-align: center;
   max-width: 680px;
   margin: 0 auto;
   width: 100%;
}

.avatar-wrapper {
    position: relative;
    width: 87.27px;
    height: 87.27px;

    margin: 0 auto;
    margin-bottom: 56px;
}

.avatar-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subtitle-header {
    font-family: var(--font-family-inconsolata);
    font-size: 20px;
    line-height: 120%;
    font-style: normal;
    color: var(--cor-base-gray-200);
}

.subtitle-header .nome {
    color: var(--cor-principal-red);
}

.title {
    font-family: var(--font-family-asap);
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;

    color: var(--cor-base-gray-100);
    
    margin-bottom: 20px;
}

.text-sm {
    font-family: var(--font-family-maven-pro);
    font-size: 16px;
    line-height: 140%;
    font-weight: normal;

    color: var(--cor-base-gray-300);

    margin-bottom: 80px;
}

.text-md {
    font-family: var(--font-family-maven-pro);
    font-size: 16px;
    line-height: 140%;
    
    
    color: var(--cor-base-gray-200);
}
.tech-cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;

    margin-bottom: 60px;

}

.card-list {
    width: auto;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-base-gray-400);

    border-radius: 50px;
   
}

.card-list figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-list img {
    margin-left: 10px;
}

.card-list figcaption {
    margin-right: 16px;
}

.vector-baixo {
    display: block;
    margin: 40px auto 0 auto;
    width: auto;
    max-width: 100%;

    margin-bottom: 57px;
}

/*CRIADO CSSS DE PROJETOS */
.projetos {
    background-color: var(--cor-base-gray-500);
    width: 100vw;
}

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    margin-top: 56px;
    margin-bottom: 144px;

    justify-items: center;
}

.card-projeto {
    width: 330px;
    height: 280px;

    background-color: var(--cor-base-gray-400);
    border-radius: 12px;
}

.card-projeto img {
    width: 306px;
    height: 156px;
    
    border-radius: 12px;

    margin: 12px 12px 20px 12px;
}

.card-projeto h4 {
    margin-bottom: 8px;
}

 /* CRIADO CSS DE SERVICES */

.services {
    background-color: var(--cor-base-gray-600);
    width: 100vw;
}


.subtitle-header {
    font-family: var(--font-family-inconsolata);
    color: var(--cor-principal-red);
    font-size: 20px;
    line-height: 120%;
    font-style: normal;

    margin-top: 88px;
}

.title-services {
    font-family: var(--font-family-asap);
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;

    color: var(--cor-base-gray-100);
}

.grid-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    margin-top: 56px;
    margin-bottom: 120px;
}

.card-service {
    background-color: var(--cor-base-gray-500);

    border: 2px solid;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    width: 100%;
    max-width: 280px;
    margin: 0;
}

.card-service img {
    margin: 20px;
    width: 40px;
}

.title-sm {
    font-family: var(--font-family-asap);
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;

    color: var(--cor-base-gray-100);

    margin-left: 20px;
    margin-right: 20px;
}

.subtitle-sm {
    font-family: var(--font-family-maven-pro);
    font-size: 14px;
    line-height: 140%;

    color: var(--cor-base-gray-200);

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* CRIADO ESTILOS DE CONTADO*/