:root {
    --cor-principal-red: #E3646E;
    --cor-principal-purple: #BB72E9;
    --cor-principal-blue: #3996DB;
    --cor-principal-green: #82BC4F;
    --cor-principal-yellow: #EAbd5f;

    --cor-base-gray-100: #E2E4E9;
    --cor-base-gray-200: #C0C4CE;
    --cor-base-gray-300: #878EA1;
    --cor-base-gray-400: #292C34;
    --cor-base-gray-500: #16181D;
    --cor-base-gray-600: #0D0E11;


    --font-family-asap: 'Asap', sans-serif;
    --font-family-inconsolata: 'Inconsolata', monospace;
    --font-family-maven-pro: 'Maven Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1366px;
    margin: 80px auto;
    padding: 0 20px;
}

.header-config {
   text-align: center;
}

.avatar-wrapper {
    position: relative;
    width: 87.27px;
    height: 87.27px;

    margin: 0 auto;
    margin-bottom: 56px;
}

.avatar-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}