:root {
    --cor-fundo: #f5f4f0;
    --cor-titulo: #E1624F;
    --cor-do-texto: #1B1B1B;
    --cor-primaria-border: #D9D9D9;
    /*Adicionar as demais cores depois*/

    --fonte-principal: 'Open Sans', sans-serif;
    --cor-texto-principal: #1B1B1B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
}

.container {
    width: 1120px;
    margin: 88px auto;
    padding: 0 20px;

}

.headline {
    color: var(--cor-titulo);
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 16px;
}

.title-page h1 {
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 36px;
}

.title-page {
    text-align: left;
    margin-bottom: 40px;
}

.section-imagem-descricao p {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    color: var(--cor-do-texto);

    text-align: center;
    margin-bottom: 40px;
    
}

.divisor-1 {
    margin-bottom: 64px;
}

.title-list {
    margin-bottom: 64px;
}

.destino {
    margin-bottom: 48px;
}

.h2-config {
    font-family: var(--fonte-principal);
    font-size: 36px;
    font-weight: bold;
    color: var(--cor-do-texto);
}

.h3-config {
    font-family: var(--fonte-principal);
    color: var(--cor-do-texto);
    font-size: 28px;
    font-weight: bold;
}

.paragrafo {
    font-family: var(--fonte-principal);
    color: var(--cor-do-texto);
    
    font-style: normal;
    font-size: 16px;
}

.aside-config {
  margin-top: 16px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.aside-config h3 {
  margin-bottom: 8px;
  font-weight: 600;
}

.aside-config ul {
  padding-left: 25px; 
  list-style-type: disc;
}

.aside-config li {
  margin-bottom: 5px; 
}