body {
    background: var(--background-primary) url('../assets/img/Shapes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
/*Header principal*/
.header {
    position: absolute;
    top: 7.6rem;
    margin-left: 12rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;

}

.h2-header {
    font-family: var(--font-sora);
    font-size: var(--display-medium-sora-size);
    font-weight: var(--display-medium-sora-weight);
    color: var(--content-primary);
    text-transform: uppercase;

    

}

.container {
   width: 109.8rem;
   margin-left: 13.4rem;
   padding-top: 15rem;
}

.span-header-container {
    font-family: var(--font-mono);
    font-size: var(--overline-roboto-size);
    line-height: var(--overline-roboto-line);
    font-weight: var(--overline-roboto-weight);

    color: transparent;
    background: var(--gradient-content);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Container da pagina*/

.title-page {
    font-family: var(--font-sora);
    font-size: var(--display-large-sora-size);
    font-weight: 800;
    color: var(--content-primary);
}

.left-content {
    display: flex;
    flex-direction: column;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.question-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.paragrafo-medium {
    font-family: var(--font-flex);
    font-size: var(--paragraph-medium-flex-size);
    font-weight: var(--paragraph-medium-flex-weight);
    line-height: 150%;

    color: var(--content-brand);
}

.paragrafo-small {
    width: 35.8rem;
    font-family: var(--font-flex);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;

    color: var(--content-secondary);
}

/*Formularios dentro do container da pagina*/

.form-numeros {
    margin-top: 3.4rem;
    margin-left: 10.8rem;
    
    visibility: visible;
}

.h3-form{
    font-family: var(--font-flex);
    color: var(--content-primary);
    font-size: 1.6rem;
    font-weight: 800;
}


.label-numeros {
    font-family: var(--font-flex);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--content-secondary);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.even-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.three-columns {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 6rem;
}

.sortear {
    max-width: 48.2rem;
}