.container {
   max-width: 109.8rem;
   margin: 0 auto;

}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.even-columns {
    display: grid;
    gap: 10.8rem;
}

.sortear {
    max-width: 48.2rem;
}